.about {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(251, 250, 243, 1);
  width: 100%;
  height: 1000px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.heading span {
  color: rgba(254, 104, 47, 1);
}
.heading h1 {
  color: black;
}

.members {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.awasthi img {
  height: 200px;
}
/* Cards */
@media screen and (max-width: 769px) {
  .card1 {
    margin: 30px;
    height: 300px;
  }
  .about {
    height: 1600px;
  }
  .members {
    flex-direction: column;
    position: relative;
    bottom: 30px;
  }
  .heading {
    position: relative;
    left: -20px;
  }
  .heading span {
    font-size: 30px;
  }
  .heading h1 {
    font-size: 25px;
    position: relative;
    top: -80px;
  }
  .below {
    font-size: 20px;
    position: relative;
    bottom: 10px;
  }
}

.card1 {
  width: 250px;
  height: 320px;
  background: rgb(252, 252, 253);
  box-shadow: 4px 6px 14px #00000036;
  border-radius: 10px;
  color: black;
  transition: all 0.3s;
}

.card1:hover {
  margin-top: -30px;
  align-items: center;
}

.card1 img {
  width: 210px;
  padding-left: 20px;
}
.card1 span {
  font-size: 25px;
  position: relative;
  left: 22px;
}
.card1 p {
  font-size: 20px;
  position: relative;
  top: 15px;
  left: 52px;
}
.below {
  position: relative;
  bottom: 40px;
}
