.product-image {
  height: 190px;
  overflow: hidden;
}
.product-details {
  margin-top: 5px;
  height: 190px;
  overflow: hidden;
}
.product-title {
  height: 80px;
  overflow: auto;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.product-category {
  margin-top: -5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blueviolet;
}
.product-details button {
  width: 100%;
  margin-top: -6px;
}
.wishlist-cardicon {
  font-size: 1.5rem;
  position: relative;
  left: 90%;
  cursor: pointer;
}
.wishlist-cardicon:hover {
  color: red;
}
