footer {
  margin-bottom: 0;
  color: white;
  background-color: rgba(78, 125, 100, 1);
  padding: 0px;
  display: flex;
  flex-direction: column;
  position: static;
  bottom: 0px;
  width: 100vw;
  overflow: auto;
  z-index: 3;
}
.sec1 {
  display: flex;
  flex-direction: row;
}
.mission {
  background-color: rgba(69, 117, 91, 1);
  flex-grow: 1;
  flex-basis: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.company {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.information {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul {
  list-style-type: none;
}
li {
  padding: 5px;
}
.sec2 {
  padding: 15px 0;
  text-align: center;
  border: 1px solid gray;
}

@media screen and (max-width: 769px) {
  .sec1 {
    flex-direction: column;
  }
  .information,
  .product,
  .company {
    padding: 20px;
  }
  footer {
    overflow: auto;
  }
}
