/* Modal.css */

.modal-button {
    background-color: #4F46E5;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.modal-content {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
}

.modal-dialog {
    width: 100%;
    max-width: md;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: #F3F4F6;
    padding: 24px;
    
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 70vh;
    width: 50vw;
    padding: 20px;
    margin: 0 auto;
}

.modal-form label{
    overflow: visible;
    position: relative;
}

.modal-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #9CA3AF;
}

.modal-button-submit {
    margin-top: 16px;
    padding: 10px;
    border-radius: 5px;
    background-color: #7C3AED;
    color: #ffffff;
    cursor: pointer;
}
